.dropzone {
  border: 2px dashed #00eaff;
  padding: 40px;
  margin: 20px;
  cursor: pointer;
  background-color: #222;
  color: white;
  border-radius: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}